* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%; /* aqui mudei o tamanho da fonte, a cada 10 px = 1rem pra melhorar a responsividade*/
  --font-family:'Poppins', sans-serif;
  --font-weight-fino:275;
  --font-weight-light:300;
  --font-weight-normal:400;
  --font-weight-medio:500;
  --font-weight-semi-bold:600;
  --font-weight-bold:700;
  --font-weight-extra-bold:800;
  --color-primary:#472969;
  --color-secundary:#B78BBC;
  --color-terciary: #fff;
  --background-grey:#D9D9D9;
  --background-purple:var(--color-primary);
  --background-pink:var(--color-secundary);
}
body {
  font-family: var(--font-family);
  letter-spacing: -0.04rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 7.5rem;
}
.logo {
  display: flex;
  gap: 8px;
}
.header_nav {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.header_nav a {
  font-weight: var(--font-weight-fino);
  font-size: 3.452rem;
  line-height: 2.343rem;
  text-decoration: none;
  padding-right: 3.8rem;
  color:var(--color-primary);
}
.header_nav a:hover {
  color:var(--color-secundary);
}
button {
  font-family:var(--font-family) ;
}
header button {
  width: 11.4rem;
  height: 6.3rem;
  font-weight: var(--font-weight-fino);
  font-size: 3.452rem;
  line-height: 2.343rem;
  color: var(--color-terciary);
  cursor: pointer;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(90deg, #B78BBC 0%, #DDC4E0 100%);
  box-shadow: 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
header button:hover {
  box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3); 
  transform: scale(1.05);
}
.hero{
  margin: 0 7.5rem;
  height: 59.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  background: linear-gradient(rgba(70, 40, 104, 0.9), rgba(70, 40, 104, 0.9)), url('assets/image/imagem.png') no-repeat center top 30%;
  background-size: cover;
}
.hero-content {
  color: var(--color-terciary);
  text-align: center;
  margin-top: 7.4rem;
}
.hero-content h1 {
  font-weight: var(--font-weight-bold);
  font-size: 6.4rem;
  line-height: 6.8rem;

}
.hero-content h2 {
  font-weight: var(--font-weight-bold);
  font-size: 4.8rem;
  line-height: 5.6rem;
}
.hero-content p {
  color: var(--color-terciary);
  font-weight: var(--font-weight-normal);
  font-size: 3.2rem;
  line-height: 3.3rem;
  margin-top: 4.3rem;
}
.hero-buttons {
  display: flex;
  justify-content: space-around;
  width: 89.3rem;
  margin-top: 8rem;
}
.hero-buttons button {
  width: 18.0rem;
  height: 6.3rem;
  border-radius: 10.0rem;
  border: none;
  background-color: var(--background-grey);
  font-weight: var(--font-weight-fino);
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
  vertical-align: middle;
  color:var(--color-primary);
  padding: 1.0rem;
  cursor: pointer;
}
.hero-buttons button:hover {
  background-color: var(--background-purple);
  color: var(--color-terciary);
}
.search-bar{
  display: flex;
  justify-content: space-around;
  margin: 0.8rem 0.8rem;
  padding: 1.6rem 0;
  background-color: var(--background-grey);
  width: 97.2rem;
  height: 12.0rem;
  border-radius: 2.5rem;
}
fieldset {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  display: none;
}
.search-bar {
  max-width: 97.2rem;
  width: 100%;
}
.search-bar-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-bar-options label {
  font-weight: var(--font-weight-fino);
  font-size: 1.732rem;
  line-height: 2.381rem;
  text-align: center;
  color: #05050566;
}
.search-bar-options select {
  font-weight: var(--font-weight-medio);
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance:none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" fill="%23333"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 1.0rem center;
  padding-right: 4.0rem;
  cursor: pointer;
}
fieldset button[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.1rem;
  height: 8.9rem;
  border-radius: 2.5rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medio);
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: -4%;
  text-align: center;
  background-color: var(--background-purple);
  padding: 2.0rem;
  border: none;
  box-shadow: 0rem 8rem 16rem rgba(70, 40, 104, 0.9); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  color:var(--color-terciary);
}
fieldset button[type="button"]:hover {
  background-color: #623a90;
  transform: scale(1.05);
}
.search-bar-options button img{
  margin-right: 0.8rem;
}

.about {
  display: flex;
  margin: 10rem 7.5rem;
}
.about-column-text h1 {
  font-weight: var(--font-weight-bold);
  font-size: 6.893rem;
  line-height: 5.882rem;
  letter-spacing: -5%;
  padding-bottom: 1.5rem;
}
.gradient-text {
  background: linear-gradient(90deg, #472969 0%, #B78BBC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-column-text p {
  font-weight: var(--font-weight-normal);
  font-size: 37.19px;
  line-height: 30.68px;
  letter-spacing: -4%;
  margin-top: 7.138rem;
  
}
.about-column-text button {
  width: 30.8rem;
  height: 11.7rem;
  border-radius: 8.37rem;
  border: none;
  background: linear-gradient(180deg, #8C51CF 25.96%, #472969 100%);
  color: var(--color-terciary);
  margin-top: 19rem;
  font-weight: var(--font-weight-normal);
  font-size: 3.348rem;
  cursor: pointer;
  box-shadow: 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-column-text button:hover {
  box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3); 
  transform: scale(1.05);
}
.services {
  background: linear-gradient(180deg, #8B4FCE 0%, #462868 100%);

}
.services-discount h1 {
  padding-top: 4.314rem;
  color: var(--color-terciary);
  font-weight: var(--font-weight-medio);
  font-size: 6.8rem;
  line-height: 7.5rem;
  letter-spacing: -0.05em;
  text-align: center;
}
.services-discount h1 span {
  font-weight: var(--font-weight-extra-bold);
  color:#d737da
}
.services-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 101.1rem;
  height: auto;
  gap: 2rem;
  margin: 0 auto ;
  padding: 4rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  max-width: 100%;
  height: auto;
}
.advantages {
  color:var(--color-primary)
}
.advantages-text h1 {
  margin-top: 8.3rem;
  font-weight: var(--font-weight-medio);
  font-size: 6.8rem;
  letter-spacing: -0.05em;
  line-height: 7.0rem;
  
  text-align: center;
}
.advantages-text h1 span {
  font-weight: var(--font-weight-bold);
}
.advantages-text p{
  margin-top: 3.5rem;
  font-family: Poppins;
  font-weight: var(--font-weight-normal);
  font-size: 3.8rem;
  line-height: 3.068rem;
  letter-spacing: -0.04em;
  text-align: center;
}
.advantages_container {
  display: flex;
  justify-content: space-around;
  margin-top: 4.7rem;
}
.advantages_container_partner_benefits h2 {
  font-weight: var(--font-weight-bold);
  font-size: 4.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.05em;
  
}
.advantages_container_items {
  margin-top: 4.7rem;
  list-style: none;
  align-items: center;
}
.advantages_container_items strong {
  padding-left: 1.6rem;
  font-weight: var(--font-weight-semi-bold);
  font-size: 3.8rem;
  line-height: 3.068rem;
  letter-spacing: -0.04em;
  text-align: center;
  
}
.advantages_container_items p {
  padding-left: 1.6rem;
  font-weight: var(--font-weight-light);
  font-size: 2.0rem;
  line-height: 2.8rem;
  letter-spacing: -0.04em;
  
}
.item {
  position: relative;
  padding-left: 4.0rem;
  margin-bottom: 4.0rem;
}
.item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2.0rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  background-size: cover;
  background: linear-gradient(122.28deg, #B772FF 14.85%, #F087B8 86.72%);
}
.plans {
  height: 101.1rem;
  background-image: url(assets/image/background_planos.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-terciary);
}
.plans h1 {
  position: relative;
  font-weight: var(--font-weight-bold);
  font-size: 6.8rem;
  line-height: 6.9rem;
  letter-spacing: -0.05em;
  text-align: center;
  padding-top: 6.6rem;
  }
.plans_cards_wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 11.3rem;
}
.cards_arrow_left,
.cards_arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 5.1rem;
  height: 5.698rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.cards_arrow_left {
  background-image: url(assets/image/seta_esquerda.svg);
  left: 2rem;
}
.cards_arrow_right {
  right: 2rem;
  background-image: url(assets/image/seta_direita.svg);
}
.plans_cards_actions {
  display: flex;
  gap: 4.25rem;
  width: 31.267rem;
  height: 39.319rem;
  background: linear-gradient(298.19deg, rgba(97, 16, 173, 0.4), rgba(190, 144, 242, 0.4));
  border-radius: 1.677rem;
  padding: 2.71px;
}
.plans_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius:16.77px;
  width: 100%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(190, 144, 242, 0.4);
}
.plans_cards h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.086rem auto;
  width: 23.551rem;
  height: 5.77rem;
  border-radius: 1.006rem;
  background: linear-gradient(90deg, #8C51CF 0%, #6110AD 100%);
  font-weight: var(--font-weight-extra-bold);
  font-size: 2.281rem;
  line-height: 3.217rem;
  letter-spacing: -0.04em;
}
.plans_cards ul{
  display: flex;
  flex-direction: column;
}
.plans_cards ul li {
  list-style: none;
  font-weight: var(--font-weight-light);
  font-size: 1.342rem;
  line-height: 1.677rem;
  letter-spacing: -0.04em;
}
.price_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.price {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}
.from{
  font-weight: var(--font-weight-medio);
  font-size: 1.61rem;
  line-height: 3.217rem;
  letter-spacing: -0.04em;
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  z-index: 2;
}
.real {
  font-weight: var(--font-weight-medio);
  font-size: 2.147rem;
  line-height: 4.584rem;
  letter-spacing: -0.04em;
}
.big {
  font-weight: var(--font-weight-bold);
  font-size: 12.077rem;
  line-height: 3.623rem;
  letter-spacing: -0.1em;
}
.small{
  font-weight: var(--font-weight-bold);
  font-size: 4.294rem;
  line-height: 3.623rem;
  letter-spacing: -0.1em;
}
.download{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.229rem;
}
.download_button {
  width: 37.7rem;
  height: 9.3rem;
  border-radius: 2.0rem;
  padding: 1px; 
  background: linear-gradient(90deg, #FFFFFF, #8C51CF); 
  cursor: pointer;
  margin-bottom: 4.2rem;
  box-shadow: 0rem 0.8rem 1.6rem rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.download button:hover{
  box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3); 
  transform: scale(1.05);
}
.button_inner {
  width: 100%;
  height: 100%;
  border-radius: 2.0rem;
  background: linear-gradient(90deg, #280747 0%, #8C51CF 100%);
  color: var(--color-terciary);
  font-weight: var(--font-weight-medio);
  font-size: 3.085rem;
  line-height: 4.35rem;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
}
.button_inner strong {
  margin-left: 0.8rem;
}
.icons {
  display: flex;
  gap: 1.6rem;
}
footer {
  background: linear-gradient(358.65deg, #B9B9B9 1.26%, #FFFEFE 96.36%);

}
.options {
  display: flex;
  align-items: center;
  padding-top: 5.2rem;
}
.options img {
  margin-left: 7.1rem;
}
.options nav {
  justify-content: space-around;
  width: 70%;
  display: flex;
  margin-left: 5.0rem;
}
.options nav a {
  text-decoration: none;
  font-weight: var(--font-weight-semi-bold);
  font-size: 2.8rem;
  line-height: 5.105rem;
  letter-spacing: -0.04em;
  color: var(--color-primary);
  cursor: pointer;
}
.options  nav a:hover {
  color:var(--color-secundary);
}
.social_network {
  display: flex;
  gap: 23.9rem;
  margin-top: 3.5rem;
}
.social_network_icons {
  margin-left: 7.1rem;
}
.social_network_icons p {
  font-weight: var(--font-weight-medio);
  font-size: 2.0rem;
  line-height: 5.105rem;
  letter-spacing: -0.04em;
  color: var(--color-primary);
}
.social_network_text {
  margin-left: 8.4rem;
}
.social_network_text h3 {
  font-weight: var(--font-weight-semi-bold);
  font-size: 2.8rem;
  line-height: 3rem;
  letter-spacing: -0.04em;
  color: var(--color-primary);
}
.social_network_text p {
  font-weight: var(--font-weight-light);
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: -0.04em;
  color: var(--color-primary);
}
.social_network_links {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 7.1rem 2.9rem 7.1rem;
}
.social_network_links a, p{
  font-weight: var(--font-weight-light);
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: -0.04em;
  color: var(--color-primary);
}